:root {
  --ink: #04040c;
  --slate: #092d34;
  --midnight: #0b2752;
  --postbill: #f3e7cc;
  --sheepskin: #e8e0cf;
  --emigre-light: #faf0e6;
  --emigre-text: #231f20;

  --background-color: var(--midnight);
  --text-bg-color: var(--midnight);
  --text-color: var(--emigre-light);
  --code-bg: var(--slate);

  --cadence: 1s;
}

/* Typography
 * ------------------------------------------------------------------------------ */

@font-face {
  font-family: 'Rosewood Std';
  src:
    url('../theme/rosewoodstd-fill-webfont.woff2') format('woff2'),
    url('../theme/rosewoodstd-fill-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--text-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-family: 'Rosewood Std', serif;
  font-weight: 400;
  margin-top: 1rem;
}

/* Background
 * ------------------------------------------------------------------------------ */

.slam-bg {
  background: var(--background-color);
  max-width: 90em;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  position: relative;
}

/* .fog_layer,
.fog {
  top: 0;
  left: 0;
}

.fog-bg {
  background: var(--midnight);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.fog_layer {
  background: url(../assets/tiling-clouds01.png) center center/100vw auto repeat transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.25;
  position: absolute;
} */

/* Biscuits
 * ------------------------------------------------------------------------------ */

.biscuits {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* min-height: 11.81622966em; */
  min-height: min(11.81622966em, 13.125vw);
  margin: 0;
  padding: 0;
}

.biscuit {
  background-size: contain;
  background: url(../assets/tim-tam-unbitten.svg) center center no-repeat transparent;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%);
  color: transparent;
  width: 6.94444444%;
  /* height: 11.81622966em; */
  padding: 13.12914407% 0 0 0;
  text-indent: -99999em;
  overflow: hidden;
  line-height: 0;
  list-style: none;
  margin: 0 2.22222222% 0 0;
  transition:
    clip-path ease-in var(--cadence),
    translate ease-in-out var(--cadence),
    rotate ease-in-out var(--cadence),
    margin-right ease-in var(--cadence);
}

.once-bitten {
  clip-path: polygon(0 0, 80% 0, 90% 10%, 100% 15%, 100% 100%, 0 100%, 0 100%, 0 100%);
}

.twice-bitten,
.in-mug {
  clip-path: polygon(0 0, 80% 0, 90% 10%, 100% 15%, 100% 100%, 25% 100%, 20% 87%, 0 80%);
}

.in-mug {
  translate: min(32.08333333vw, 28.875em) min(32.5vw, 29.25em);
  rotate: -30deg;
  /* margin-left: 4.25em; */
  /* margin-right: -4.25em; */
  margin-right: -4.72222222%;
}

/* Mug
 * ------------------------------------------------------------------------------ */

.mug-after,
.mug {
  background-size: contain;
  height: min(13.82445759vw, 12.44201183em);
  position: relative;
  width: 35.83333333%;
  margin-left: min(32.08333333%, 28.875em);
}

.mug {
  background: url(../assets/mug.svg) 33% center no-repeat transparent;
  margin-top: min(26.66666667vw, 24em);
  position: relative;
  z-index: -1;
  color: transparent;
}

.mug-after {
  background: url(../assets/mug-front.svg) center center no-repeat transparent;
  display: block;
  top: max(-13.82445759vw, -12.44201183em);
  z-index: 1;
  content: ' ';
}

/* Emoji
 * ------------------------------------------------------------------------------ */

.person,
.problem {
  color: transparent;
  position: relative;
}

.person::after,
.problem::after {
  color: #fff;
  position: absolute;
  display: block;
  font-size: min(17.77777778vw, 16em);
  width: 1em;
  height: 1em;
  z-index: -1;
}

.person::after {
  top: -2.890625em;
  left: 0.7421875em;
}

.problem {
  top: min(24.375em, 27.08333333vw);
  left: 39.30555556%;
  position: absolute;
}

.top-of-head::after {
  content: '😙';
}

.smile::after {
  content: '😋';
}

.waiting::after {
  content: '🙂';
}

.problem::after {
  content: '💩';
}

.sad::after {
  content: '🥺';
}

/* Utilities
 * ------------------------------------------------------------------------------ */

.hidden {
  visibility: hidden;
}
